openapi: 3.1.0
info:
  title: BajiStyle WooCommerce Manager API
  version: 1.2.0
  description: Secure WooCommerce product-management API exposed by WC Manager for ChatGPT.
servers:
  - url: https://manage.bajistyle.ir/api
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ProductInput:
      type: object
      additionalProperties: true
      properties:
        name: { type: string }
        type: { type: string, enum: [simple, grouped, external, variable] }
        status: { type: string, enum: [draft, pending, private, publish] }
        description: { type: string }
        short_description: { type: string }
        sku: { type: string }
        regular_price: { type: string }
        sale_price: { type: string }
        manage_stock: { type: boolean }
        stock_quantity: { type: integer }
        stock_status: { type: string, enum: [instock, outofstock, onbackorder] }
        categories: { type: array, items: { type: object, additionalProperties: true } }
        tags: { type: array, items: { type: object, additionalProperties: true } }
        images: { type: array, items: { type: object, additionalProperties: true } }
        attributes: { type: array, items: { type: object, additionalProperties: true } }
        meta_data: { type: array, items: { type: object, additionalProperties: true } }
security:
  - bearerAuth: []
paths:
  /health.php:
    get:
      operationId: checkConnection
      summary: Check WC Manager and WooCommerce connectivity.
      responses: { '200': { description: Connected } }
  /media.php:
    post:
      operationId: uploadImage
      summary: Upload a JPEG, PNG or WebP image and return a public URL for WooCommerce.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename, content_type, base64]
              properties:
                filename: { type: string }
                content_type: { type: string, enum: [image/jpeg, image/png, image/webp] }
                base64: { type: string, description: Base64-encoded image bytes, optionally as a data URL. Maximum decoded size 10 MB. }
      responses:
        '201': { description: Image uploaded and public URL returned. }
        '413': { description: Image exceeds 10 MB. }
        '422': { description: Invalid image input. }
  /products.php:
    get:
      operationId: listProducts
      summary: List/search WooCommerce products.
      responses: { '200': { description: Product list } }
    post:
      operationId: createProduct
      summary: Create a WooCommerce product.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductInput' }
      responses: { '201': { description: Product created } }
  /product.php:
    get:
      operationId: getProduct
      summary: Get a WooCommerce product.
      parameters:
        - { name: id, in: query, required: true, schema: { type: integer, minimum: 1 } }
      responses: { '200': { description: Product } }
    put:
      operationId: updateProduct
      summary: Update a WooCommerce product.
      parameters:
        - { name: id, in: query, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductInput' }
      responses: { '200': { description: Product updated } }
  /categories.php:
    get:
      operationId: listCategories
      summary: List WooCommerce product categories.
      responses: { '200': { description: Categories } }
