openapi: 3.1.0
info:
  title: BajiStyle WooCommerce Manager API
  version: 1.3.0
  description: Secure WooCommerce product-management API exposed by WC Manager for ChatGPT.
servers:
  - url: https://manage.bajistyle.ir/api
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ProductInput:
      type: object
      additionalProperties: true
      properties:
        name: { type: string }
        type: { type: string, enum: [simple, grouped, external, variable] }
        status: { type: string, enum: [draft, pending, private, publish] }
        description: { type: string }
        short_description: { type: string }
        sku: { type: string }
        regular_price: { type: string }
        sale_price: { type: string }
        manage_stock: { type: boolean }
        stock_quantity: { type: integer }
        stock_status: { type: string, enum: [instock, outofstock, onbackorder] }
        categories: { type: array, items: { type: object, additionalProperties: true } }
        tags: { type: array, items: { type: object, additionalProperties: true } }
        images: { type: array, items: { type: object, additionalProperties: true } }
        attributes: { type: array, items: { type: object, additionalProperties: true } }
        meta_data: { type: array, items: { type: object, additionalProperties: true } }
security:
  - bearerAuth: []
paths:
  /health.php:
    get:
      operationId: checkConnection
      summary: Check WC Manager and WooCommerce connectivity.
      responses: { '200': { description: Connected } }
  /media.php:
    post:
      operationId: uploadImage
      summary: Import a JPEG, PNG or WebP image from a public URL, or upload it as Base64, and return a public BAJI URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename]
              properties:
                filename: { type: string }
                url: { type: string, format: uri, description: Public http/https URL of the image. Preferred for ChatGPT-generated files. }
                image_url: { type: string, format: uri, description: Alias for url. }
                base64: { type: string, description: Optional Base64 image bytes or data URL. Use only when no public URL is available. }
              anyOf:
                - required: [url]
                - required: [image_url]
                - required: [base64]
      responses:
        '201': { description: Image imported and public BAJI URL returned. }
        '413': { description: Image exceeds 10 MB. }
        '422': { description: Invalid image input or URL. }
  /products.php:
    get:
      operationId: listProducts
      summary: List/search WooCommerce products.
      responses: { '200': { description: Product list } }
    post:
      operationId: createProduct
      summary: Create a WooCommerce product.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductInput' }
      responses: { '201': { description: Product created } }
  /product.php:
    get:
      operationId: getProduct
      summary: Get a WooCommerce product.
      parameters:
        - { name: id, in: query, required: true, schema: { type: integer, minimum: 1 } }
      responses: { '200': { description: Product } }
    put:
      operationId: updateProduct
      summary: Update a WooCommerce product.
      parameters:
        - { name: id, in: query, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductInput' }
      responses: { '200': { description: Product updated } }
  /categories.php:
    get:
      operationId: listCategories
      summary: List WooCommerce product categories.
      responses: { '200': { description: Categories } }
